:root{
--White: hsl(0, 0%, 100%);
--bgBody: hsl(212, 45%, 89%);
--paraColor: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}
body{
font-family: 'Outfit', sans-serif;
background-color: var(--bgBody);
padding: 1rem;
position: relative;
min-height: 100vh;

}
.card p {
    display: inline-flex;
    font-size: 15px;
    text-align: center;
    color: var(--paraColor);
    padding: 0 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    
}

.card {
    background-color: var(--White);
    width: 90%;
    max-width: 20rem;
    height: 10%;
    max-height: 30rem;
    padding: 1rem 1rem;
    border-radius: 5%;

}

.card img {
width: 100%;
border-radius: 5%;
}

.heading {
    font-size: 1.3em;
    font-weight: 900;
    text-align: center;
    padding: 1rem 1rem 0;
}

footer{
    position: absolute;
    top: 90vh;
    right: calc(50% - 120px);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }