:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Bodybg: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}
body{
font-family: 'Outfit', sans-serif;
background-color: var(--Light-gray);
padding: .2rem;
position: relative;

}
body p {
    font-size: 15px;
    min-height: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    background-color: var(--White);
    width: 90%;
    max-width: 20rem;
    height: 10%;
    max-height: 30rem;
    padding: 10px;
    border-radius: 5%;
}

.card img {
width: 100%;
border-radius: 5%;
}

@media screen and (min-width: 480px) {
    /* body {
    
    } */
   .flex {
    margin: 0;
    position: absolute;
    top: 50%;
    /* left: 35%; */
    transform: translate(calc(50vw - 10.5rem), calc(50% - 5rem));
    /* transform: translateY(50vh); */
   }
}

footer{
    position: absolute;
    top: 90vh;
    right: calc(50% - 120px);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }